<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>score_000000</key>
      <dict>
        <key>frame</key>
        <string>{{486,286},{141,193}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{139,191}</string>
      </dict>
      <key>score_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,420},{24,22}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{22,20}</string>
      </dict>
      <key>score_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,442},{24,22}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{22,20}</string>
      </dict>
      <key>score_000003</key>
      <dict>
        <key>frame</key>
        <string>{{550,69},{69,69}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{67,67}</string>
      </dict>
      <key>score_000004</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{69,69}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{67,67}</string>
      </dict>
      <key>score_000005</key>
      <dict>
        <key>frame</key>
        <string>{{243,353},{243,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{241,65}</string>
      </dict>
      <key>score_000006</key>
      <dict>
        <key>frame</key>
        <string>{{243,286},{243,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{241,65}</string>
      </dict>
      <key>score_000007</key>
      <dict>
        <key>frame</key>
        <string>{{0,353},{243,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{241,65}</string>
      </dict>
      <key>score_000008</key>
      <dict>
        <key>frame</key>
        <string>{{0,286},{243,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{241,65}</string>
      </dict>
      <key>score_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{550,286}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{548,284}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>score.png</string>
      <key>size</key>
      <string>{650,486}</string>
      <key>textureFileName</key>
      <string>score.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>NewHighScore</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.65324</real>
        <key>anchorY</key>
        <real>0.70445</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49250</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49250</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49701</real>
        <key>anchorY</key>
        <real>0.50299</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49701</real>
        <key>anchorY</key>
        <real>0.50299</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset229</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset230</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49979</real>
        <key>anchorY</key>
        <real>0.49846</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset231</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset232</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>scoreBoard</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50009</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>PlayButton</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,240.90,65.25</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50038</real>
        <key>children</key>
        <dict>
          <key>i84890</key>
          <dict>
            <key>class</key>
            <string>asset230</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|120.45,32.65,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i84888</key>
          <dict>
            <key>class</key>
            <string>asset229</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,65.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>PlayGreen</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,240.90,65.25</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50038</real>
        <key>children</key>
        <dict>
          <key>i84893</key>
          <dict>
            <key>class</key>
            <string>asset231</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,65.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i84895</key>
          <dict>
            <key>class</key>
            <string>asset232</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,65.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>backBtn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,66.60,66.60</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i84897</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>33.30,33.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i84903</key>
          <dict>
            <key>class</key>
            <string>asset14</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|27.30,39.30,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i84901</key>
          <dict>
            <key>class</key>
            <string>asset16</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|33.30,33.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i84899</key>
          <dict>
            <key>class</key>
            <string>asset13</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>27.30,39.30,0.00,1.00000,1.00000,1.00,1,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>continueBtn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,240.90,65.25</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i84905</key>
          <dict>
            <key>class</key>
            <string>asset229</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,65.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i84907</key>
          <dict>
            <key>class</key>
            <string>asset230</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|120.45,32.65,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>shareBtn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,240.90,65.25</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i84912</key>
          <dict>
            <key>class</key>
            <string>asset230</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|120.45,32.65,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i84910</key>
          <dict>
            <key>class</key>
            <string>asset229</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,65.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>